# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build and cache directories
.cache/
/build
/models
/test_images
/trt_engine_cache
/.vscode
*.code-workspace

# Model files
*.onnx

# Ignore image and text files except in sample_data
*.jpg
!sample_data/**/*.jpg
!assets/*.jpg
*.txt
!sample_data/**/*.txt

# Python cache files
python/__pycache__/
